.footer{
    background-color: rgb(7, 7, 7);
    /* height: 50px; */
}


.sect{
    /* display:flex; */
    justify-content: center;
}
.icons{
    display: block;
    /* width: 350px; */
    text-align: center;
}
.fa-brands{
    font-size: 25px;
    margin: 5px;
}
.ffff{
    list-style: none;
    display: block;
    text-align: center;
    color: rgb(255, 0, 47);
    padding: 6px;
}
/* @media screen and (max-width:570) {
    .fut{
        position: relative;
        top: 20px;
    }
} */
