.logo{
    height: 40px;
    width: 80px;
    padding-left: 15px;
}
.color{
    /* background-color: rgb(61, 53, 53); */
    /* background-image: linear-gradient(to right, rgba(254, 254, 252, 0.808), rgb(28, 27, 27)); */
    /* color: rgb(113, 167, 214); */
    height: 80px;
}
.text{
    color: rgb(96, 1, 1);
    font-size: 20px;
    position: relative;
    left: 50px;
}
.redNav{
    background-image: linear-gradient(to right, rgba(254, 254, 252, 0.808), rgb(28, 27, 27));
}

.blueNav{
    background-image: linear-gradient(to right, rgba(254, 254, 252, 0.808), rgb(205, 7, 7));
}
 @media screen and (max-width:720px) { 
  
    .logo{
        display: none;
        
    }
   
 }